/* Configuracion del Footer */

.copyRight {
  display: inline-block;
  padding-top: 50%;
  text-align: center;
}

.botonWhatsApp {
  img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 2;
  }
}
/*Fin de la configuracion del Footer*/
