$colorMain: rgb(30, 165, 147);
$fontMain: "Courier New", Courier, monospace;
$fontColor: white;
$borderColor: white;
$boxGeneral: rgb(24, 22, 22);
$navBarPerfil: rgba(165, 238, 214, 0.744);
$colorMarcacion: rgb(145, 42, 42);
$colorNavBarMarcacion: gray;
$backgroundGradient: linear-gradient(
  70deg,
  #2bff88 0%,
  #2bd2ff 52%,
  #2bff88 90%
);
